commands:
1_Test:
command: sudo echo "current user is $(whoami)" | sudo tee -a test.log
2_Test:
command: sudo echo "current directory is $(pwd)" | sudo tee -a test.log
3_Test:
command: sudo wget -O 01_install-crowdstrike.sh https://crowdstrikeapp.s3.us-east-2.amazonaws.com/01_install-crowdstrike.sh
4_Test:
command: sh 01_install-crowdstrike.sh