commands:
  1_Download_CrowdStrike:
    test: test ! -f falcon-sensor-6.45.0-14203.el7.x86_64.rpm
    command: sudo wget https://crowdstrikeapp.s3.us-east-2.amazonaws.com/falcon-sensor-6.45.0-14203.el7.x86_64.rpm

  2_Install_CrowdStrike:
    test: test ! -d /opt/CrowdStrike
    command: sudo yum -y install falcon-sensor-6.45.0-14203.el7.x86_64.rpm

  3_Config_CrowdStrike:
    command: sudo /opt/CrowdStrike/falconctl -s --cid="20AD15039B364458BA724A5181BCF8ED-C5" --tags="GPST-VCLO"

  4_Start_CrowdStrike:
    test: test ! $(systemctl is-active falcon-sensor) = "active"
    command: sudo systemctl start falcon-sensor